<!DOCTYPE html>
<html lang="en">

<head>
    <title> Travel Website </title>
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="TravelWebsiteLogo">
    </header>
    {{{body}}}
</body>

</html>